<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

  <title>Accel data</title>
  <link rel="stylesheet" href="/static/flot.css" />
  <script src="/static/jquery/jquery-1.10.2.min.js"></script>
</head>

<style>
#result {
	height:  50px;
    font-size: 2.5em;
}
#fade {
	height: 200px;
}


</style>


<body>

	<ul>
	    <li class="navigationBar"><a href="/">Start Page</a></li>
  	</ul>
  	<div id="header">
		<h2>Bookmarks demo</h2>
	</div>

    <div id="content">
        <button id="StopLiveButton">Stop live view</button>
        <button id="StartLiveButton">Start live view</button>  
        <div id="fade"></div>
        <br><br>
        <div id="result"></div>   


        <!--<iframe id="iframe1" width="100%" height="400" src="http://bild.de"></iframe> -->
    </div>


</body>


<script>


var myVar=setInterval(function(){myTimer()},1000000);

$("#StartLiveButton").click(function(){
    myVar=setInterval(function(){myTimer()},1000);
    $(this).hide(); 
    $(".d3").css("background-color","green").text("Live view on");
});

$("#StopLiveButton").click(function(){
    clearInterval(myVar);
    $("#StartLiveButton").show(); 
    $(".d3").css("background-color","#F2F2F3").text("Live view off");
});

function myTimer()
{

    $.ajax({
        url: "demoDoubleAction",
        type: "GET",
        dataType: "json" 
    })
    .done(function(data){ 
	  console.log(data);
	  if (data.status == 1){
	  	console.log("inside");
	  	$("#result").text(data.gestureName +" --> " + data.page)
	  	//$('#iframe1').attr('src', data.page);
	  	//$('#iframe1').attr('src', "http://localhost:8080/");

    	$("#fade").fadeTo(100, 1);
        $("#fade").css({"background-color":"springgreen"});
        $("#fade").fadeTo("slow", 0.33);  
	  }
    })
	.fail(function()  {console.log( "failed" ); })


}





</script>


</html>
