{% extends "base.html" %}

{% block content %}

<style>
#startGestureRec{
  background-color: springgreen;
  height: 200px !important;

}
</style>


<body>

    <div data-role="page" data-theme="a">

        {% include "menu_header.html" %}

        
        <div data-role="content" data-theme="a">
            <h3>Gesture Bookmarks Demo 1</h3>
            <div>Open bookmark by writing letter in the air (A, B, G or Z).</div>
            <div id="info">_</div>
            <br>

            <button id="startGestureRec" >TOUCH AND HOLD BUTTON <br>TO WRITE</button>
        </div>

    </div> 

</body>

<script src="/static/js_recognizer/JSProbability-master/HiddenMarkovModel.js"></script>
<script src="/static/js_recognizer/discrete_rec_sep_filter.js"></script>

<script>

/**
 * Load the Json Model
*/

var JM = new Object();

//var modelName = "/json_models/discrete/all_models_25_4.json";
var modelName = "/json_models/demo/ABGZ_idle0_0_19_6.json";

$.getJSON(modelName)
.done(function( data ) {
    JM = data;
});


var gestToName = {
  "1" : "double knock",
  "2" : "tick move",
  "3" : "ind move plus 90",
  "4" : "left right left right",
  "5" : "Z",
  "6" : "A",
  "7" : "B",
  "8" : "C",
  "9" : "D",
  "10" : "E",
  "11" : "F",
  "12" : "G"
};

var nameToPage = {
    "A" : "http://amazon.co.uk",
    "B" : "http://bbc.co.uk",
    "G": 'http://www.google.co.uk',
    "Z": 'http://www.zoopla.co.uk'
}


gyro.frequency = 20;
console.log("gryo freq in hz:" + gyro.frequency);
var data = {t:[], x:[], y:[], z:[]};



$('#startGestureRec').bind( "touchstart", function(e){

        data = {t:[], x:[], y:[], z:[]};
        $(this).css("background-color", "orangered");

        gyro.startTracking(function(acel) {
            var t = new Date().getTime();
            data.t.push(t);
            data.x.push(acel.x);
            data.y.push(acel.y);
            data.z.push(acel.z);
        });
});

$('#startGestureRec').bind( "touchend", function(e){
        $(this).css("background-color", "springgreen");

        gyro.stopTracking();
        // assumes fsample of 20hz
        if (data.t.length > 20){
            // set the noise and ll threshold to accept almost anything...
            noise_th = 10;
            ll_th = -150;
            var res = discrete_recognizer_sep_filter(JM, data, noise_th, ll_th);
            if (res.status == 0){
                if (res.info[0] == "b"){
                    $("#info").html("Sorry, that was too complicated..."); 
                }
                else if (res.info[0] == "x"){
                   $("#info").html("A little more movement please...");  
                }
            }
            else{
                var gesture_name = gestToName[res.best_gesture.toString()];
                
                if (typeof nameToPage[gesture_name] != 'undefined'){
                    $("#info").html("Best gesture: " + gesture_name + " -->" + nameToPage[gesture_name]);
                    window.open(nameToPage[gesture_name]);
                }
                else{
                    $("#info").html("Best gesture: " + gesture_name);
                }
            }
        }
        else{
            $("#info").html("Touch button for more than one sec. ");
        }
        

        
        
});

/*
$( "#startGestureRec" )
  .mouseup(function() {
    $("#test").append("mouseup");
  })
  .mousedown(function() {
    console.log("mouse");
    $("#test").html("mousedown");
  });

*/
</script>

{% endblock %}