<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

  <title>Accel data</title>
  <link rel="stylesheet" href="/static/flot.css" />
</head>


<body>
	<a href="https://github.com/bandinigo/MoGeRe"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

	<ul>
	    <li class="navigationBar"><a href="/">Start Page</a></li>
  	</ul>
  	<div id="header">
		<h2>Discrete Recordings</h2>
	</div>


	<div id="content">		

		<form name="input" action="/listDataDisc" method="get">
			Filter user: <input type="text" name="user" value="{{user}}"><br>
			Maximum: <input type="text" name="fetch" value="{{fetch}}">
			<input type="submit" value="Submit">
		</form>	

		<table class="dataTable">
		    <tr>
		        <td id ="col0" class="header">Start time</td>
		        <td id ="col05" class="header">User</td>
		        <td id ="col1" class="header">Gesture</td>
		        <td id ="col2" class="header">Orig F_s</td>
		        <td id ="col3" class="header">Duration</td>
		        <td id ="col5" class="header">Reps</td>
		        <td id ="col52" class="header"></td>
		        <td id ="col7" class="header">Entity key</td>
		    </tr>

		{%for item in q%}
			<tr>
				<td>{{item.startTime}}</td>
				<td>{{item.user}}</td>
				<td>{{item.gesture}}</td>
				<td>{{item.origSampleFrequ}}</td>
				<td>{{"%.0f" % item.periodGesture}}</td>
				<td>{{item.noOfRepetitions}}</td>
				<td>
					<a href="/disc_sample/{{item.key.id()}}/.json">json</a> 
					<a href="/disc_sample/{{item.key.id()}}/.zip">zip</a>
				</td>

				<td>{{item.key.id()}}</td>
			</tr>
		{%endfor%}

		</table>

	<br>
	To download multiple gestures at a time, the following query parameters can be used:
	<br>
	www.acceldatacollect.appspot.com/downloadGestures?user=USERNAME
	<br>
	Fetches all entires of a single user
	<br>
	www.acceldatacollect.appspot.com/downloadGestures?fetch=10
	<br>
	Fetches the last 10 entries. Note that the file format will be in JSON and the top level is a list / array containing all entries chosen. 

	</div>
</body>

</html>
