

		<div data-role="panel" data-position="left" data-display="push" id="panel-nav">
			<div class="ui-panel-inner">
				<ul data-role="listview" data-devider-theme="a">


					<!-- it is important to include the data ajax false. it takes longer to load, however o/w the js does not work...-->
					<li data-role="list-divider">Mobile:</li>
					<li><a href="/">Start / Info page</a></li>
		            <li><a href="/discreteRecorder" data-ajax="false">Discrete Recorder </a></li>
		            <li><a href="/discreteRecognizer" data-ajax="false">Discrete Recognizer </a></li>
		            <li><a href="/continuousRecorder"  class="ui-link" data-ajax="false" >Continuous Recorder </a></li>
		            <li><a href="/continuousRecognizer"  class="ui-link" data-ajax="false" >Continuous Recognizer </a></li>
		            <li data-role="list-divider">Desktop:</li>
		            <li><a href="/listDataDisc" data-ajax="false">Discrete Recordings</a></li>
		            <li><a href="/listDataCont" data-ajax="false">Continuous Recordings</a></li>
		            <li data-role="list-divider">Demos:</li>
		            <li><a href="/demoSingle" data-ajax="false">Demo Single</a></li>
		            <li><a href="/demoDoublePhone" data-ajax="false">Demo Double Mobile</a></li>
		            <li><a href="/demoDoubleDesktop" data-ajax="false">Demo Double Desktop</a></li>


		        </ul>
			</div>  

		</div>  

		<div data-role="header" data-position="inline">

			<h1>FYP: Lorenz Gruber, 2013</h1>
			<a href="#panel-nav" data-icon="bars">Menu</a>
		</div>
